@import '../../assets/styles/vars.scss';

.content {
  background-color: $background-color;
  color: $text-color;
  font-size: $text-size;
  padding: 5rem 0;
  flex-grow: 1;
}
.dark-content {
  background-color: $background-color-isDark;
  color: $text-color-isDark;
  transition: 0.3s;
  a {
    color: $text-color-isDark;
  }
}

@media (max-width: 1200px) {
  .content {
    width: 1000px;
    grid-template-columns: 1fr 280px;
  }
}

@media (max-width: 1000px) {
  .content {
    width: 768px;
    grid-template-columns: 1fr 250px;
  }
}

@media (max-width: 768px) {
  .content {
    font-size: 4.5vw;
    width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 100px;
  }
}

@media (max-width: 400px) {
  .content {
    font-size: 6vw;
    width: 100vw;
  }
}