@import '../../app/assets/styles/vars';

.header {
  height: 120px;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 30px;

  & > .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    & > .nameCompany {
      border-left: 1px solid black;
      padding-left: 10px;
    }
  }

  & > .finctionsHeader {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: stretch;

    & > .catalogButton {
      height:  40px;
      display: flex;
      width: 140px;
      padding: 8px;
      justify-content: center;
      align-items: center;
      gap: 8px;

      border-radius: 4px;
      background: var(--main-secondary, $main-color); 
      cursor: pointer;

      &:focus:active {
        border: none;
        background-color: #1f971f;
      }
      & > svg {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & > p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 0;
        text-align: center;
        font-family: $text;
        font-size: $text-size;
        font-weight: 400;
        line-height: 150%;
      }
    }

    & > .search {
      position: relative;
      display: flex;
      padding: 8px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      border-radius: 4px;
      border: 1px solid var(--main-secondary, $main-color);
      background: var(--main-surface, #FFF);
      & > input {
        display: flex;
        height: 24px;
        flex-direction: column;
        justify-content: center;
        border: none;

        font-family: $text;
        font-size: $text-size;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      & > button {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 8px;
        top: 50%;
        transform: translate(0, -50%);
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:focus:active {
          border: none;
        }
      }
    }
  }

  & > .generalInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    height: 100%;
    align-self: stretch;
    cursor: pointer;
    & > a > svg {
      display: flex;
      margin: 0 auto;
      gap: 8px;
    }
    & > a > p {
      text-align: center;
      font-family: $text;
      font-size: $text-size;
      font-weight: 400;
      line-height: 150%;
    }

    & > .userMenu {
      width: 100%;
      display: flex;
      position: relative;
      padding: 5px;
      align-items: center;
      border: 1px solid $main-color;
      border-radius: 20px;
      gap: 10px;

      & > .dropdown {
        display: flex;
        flex-direction: column;
        gap: 10px;
        & > button {
          flex-direction: column;
          justify-content: center;
          border: none;

          background-color: transparent;
          cursor: pointer;

          &:focus:active {
            border: none;
          }
        }
        & > .activeDropDown {
          animation: rotate 0.2s;
          transform: rotate(180deg);
          transform-origin: 50% 50%;
        }
        @keyframes rotate {
          0% {
            transform: rotate(0deg)
          }
          100% {
            transform: rotate(180deg)
          }
        }
        & > .dropdown-content {
          width: 100%;
          position: absolute;
          margin-top: 5px;
          top: 100%;
          right: 0;
          border-radius: 5px;
          transition: 0.3s;
          display: flex;
          flex-direction: column;
          & > a {
            background-color: $background-color;
            border: 1px solid $main-color;
            border-radius: 15px;
            margin-bottom: 5px;
            font-size: $text-size;
            font-weight: bold;
            padding: 10px;
          }
          & > a:hover {
            background-color: rgb($main-color, 0.5);
          }
        }
      }
      & > .logout {
        display: flex;
        justify-content: center;
      }
    }
  }
  & > .burgerTheme {
    display: flex;
    gap: 10px;
    & > .burger {
      display: none;
    }
    & > .isDark {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: none;

      background-color: transparent;
      cursor: pointer;

      &:focus:active {
        border: none;
      }
    }
  }
  
}

.dark-header {
  background-color: $background-color-isDark;
  color: $text-color-isDark;
  transition: 0.3s;
  & > .dropdown-content {
    a {
      background-color: $background-color-isDark;
    }
  }
  & > .logo {
    & > .nameCompany {
      border-left: 1px solid white;
    }
  }
  & .svgI > svg > path{
    fill: #fff;
  }
  svg > path {
    fill: #fff;
  }
  a {
    color: #fff;
  }
}

@media (max-width: 1200px) {
  .header {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .header {
    width: 100%;
    & > .finctionsHeader {
      & > .catalogButton {
        display: none;
      }
    }

    & > .generalInfo {
      display: none;
    }

    & > .burgerTheme {
      & > .burger {
        display: block;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    justify-content: space-between;
    & > .finctionsHeader {
      & > .catalogButton {
        display: none;
      }
      & > .search {
        display: none;
      }
    }

    & > .generalInfo {
      display: none;
    }

    & > .burgerTheme {
      & > .burger {
        display: block;
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    justify-content: space-between;
    width: 100%;
    & > .finctionsHeader {
      & > .catalogButton {
        display: none;
      }
      & > .search {
        display: none;
      }
    }

    & > .generalInfo {
      display: none;
    }

    & > .burgerTheme {
      & > .burger {
        display: block;
      }
    }
  }
}