@import '@/app/styles/vars';

.container {
  width: 100%;
  font-size: calc(18px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  & > .generalInfo {
    border: 1px solid $main-color;
    border-radius: 20px;
    height: 20vh;
    width: 100%;
    margin: 0 auto;
    background-image: url('@/app/assets/photo/fon.png');

    display: flex;
    align-items: center;
    justify-content: center;
    & > img {
      height: 60%;
      width: auto;
    }
  }

  & > .message {
    padding: 20px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 0 15px #999;
    color: transparent;
    transition: all .2s;
  }
  & > .message:hover {
    text-shadow: 0 0 0 #333;
  }
}