@import '../../../assets/styles/vars';

.dialog {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;

  & > .dialog__content {
    margin: auto;
    background: white;
    border-radius: 12px;
    min-height: 50px;
    min-width: 300px;
    padding: 20px;
  }
}

.dark-dialog {
  color: $text-color-isDark;
  background: rgba(226, 225, 225, 0.5);
  & > .dialog__content {
    background-color: $background-color-isDark;
  }
}