@import '../../app/assets/styles/vars.scss';

.catalog {
  h1 {
    margin-bottom: 50px;
  }
  h2 {
    margin: 100px;
  }
  &__error {
    display: flex;
    justify-content: center;
    width: 40vw;
    margin: 0 auto;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat( 400px);
    width: 100%;
    max-width: 1000px; 
    justify-content: center;
    justify-items: center; 
    column-gap: 30px; 
    row-gap: 40px; 
    margin: 0 auto;
  }
}

.catalog_dark {
  transition: 0.3s;
  h1, h2 {
    color: $text-color-isDark;
  }
  color: $text-color-isDark;
  svg > path {
    fill: #fff;
  }
  a {
    color: #fff;
  }
}
