.page_wrapper {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: 75px 750px 120px;
  width: 100vw;
  height: 100vh;

  @media(max-width:768px) {
    grid-template-rows: 56px auto 108px;
  }
}