@import '../../../app/assets/styles/vars.scss';

.container-input {
  position: relative;
  &__text {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    left: 542px;
    top: 364px;
    background: rgba(42, 47, 55, 0.02);
    border: 2px solid $main-color;
    border-radius: 10px;
    padding: 10px 50px 10px 20px;
    margin-bottom: 15px;
  }
  &__text:focus {
    outline: none !important;
    border-color: $main-color__active
  }
}

.container-input_dark {
  &__text {
    background-color: white !important;
  }
}
