@import '../../assets/styles/vars.scss';

.content {
  background-color: $background-color;
  color: $text-color;
  font-size: $text-size;
  // font-weight: 
  padding: 2rem;
  flex-grow: 1;
}
.dark-content {
  background-color: $background-color-isDark;
  color: $text-color-isDark;
  transition: 0.3s;
}