@import '@/app/styles/vars.scss';

.orders { 
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  &__header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    &__error > p {
      color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }
  h2 {
    margin: 100px;
  }
  &__info-product-request {
    display: flex;
    justify-content: center;
    width: 40vw;
    margin: 0 auto;
  }
  &__cards {
    width: 100%; 
  }
}

.orders_dark {
  transition: 0.3s;
  h1, h2 {
    color: $text-color-isDark;
  }
  color: $text-color-isDark;
  svg > path {
    fill: #fff;
  }
  a {
    color: #fff;
  }
}