@import '@/app/styles/vars.scss';

.content {
  background-color: $background-color;
  color: $text-color;
  font-size: $text-size;
  padding: 3rem 3rem;
  // flex-grow: 1;
}

.sidebar {
  h1 {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 30px;
  }

  &__for-user {
    a {
      border: 1px solid $main-color;
      border-radius: 5px;
      padding: 5px;
      color: white;
    }
    & > .user {
      color: white;
      margin: 20px;
    }
    &__catalog-button {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 40px 0;
      width: 100%;
      cursor: pointer;
      p {
        display: flex;
        justify-content: center;
        flex: 1 0 0;
        font-family: $text;
        font-size: $text-size;
        font-weight: 400;
      }
      &:focus:active {
        border: none;
        background-color: #1f971f;
      }
    }
    &__nav {
      a {
        display: block;
      }
      li {
        margin-bottom: 30px;
        list-style-type: none;
      }
    }

    & > .logout {
      display: inline-flex;
      justify-content: flex-end;
      margin: 40vh 0 30px 70%;
    }
  }
  
  &__login {
    color: white;
    a {
      color: white;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      border: 1px solid $main-color;
      border-radius: 5px;
      padding: 5px;
    }
  }
}

.sidebar_dark {
  h1 {
    color: black;
  }
  &__for-user {
    & > .user {
      color: black;
    }
    &__catalog-button {
        & > svg > path {
          fill: black;
        }
    }
    a {
      color: black;
    }
  }
}

.content_dark {
  background-color: $background-color-isDark;
  color: $text-color-isDark;
  transition: 0.3s;
  a {
    color: $text-color-isDark;
  }
}

@media (max-width: 1200px) {
  .content {
    grid-template-columns: 1fr 280px;
  }
}

@media (max-width: 1000px) {
  .content {
    grid-template-columns: 1fr 250px;
  }
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 100px;
  }
}

@media (max-width: 400px) {
  .content {
  }
}