
.side-bar {
  width: 30%;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.1);
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    &__title {
      font-size: 20px;
      font-weight: normal;
      text-align: center;
    }
    span {
      font-size: large;
      font-size: 40px;
      font-weight: 500;
      cursor: pointer;
    }
  }
  
}