.slide-enter-active,
.slide-leave-active
{
    transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
    transform: translateX(-100%);
    transition: all 150ms ease-in 0s
}

.sidebar-backdrop {
    background-color: rgba(19, 15, 64, .4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

.sidebar-panel {
    overflow-y: auto;
    position: fixed;
    background-color: #444444;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1002;
    padding: 3rem 40px 2rem 40px;
    width: 300px;
}

.dark-sidebar {
    background-color: #bebcbc;
}