@import '@/app/styles/vars.scss';

.product-container {
  padding: 30px;
  &__title {
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
    margin-bottom: 20px;
  }
  &__header {
    display: flex;
    gap: 20px;
    &__image > img {
      border-radius: 5px;
    }
    &__general-info {
      padding: 20px;
      p {
        font-size: $text-size;
        margin-bottom: 20px;
      }
    }
  }
  &__body {
    padding: 20px;
    &__discription {
      p {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .product-container {
    &__header {
      display: flex;
      flex-direction: column;
    }
  }
}