@import '@/app/styles/vars.scss';

.pages {
  display: flex;
  &__navigation-pages {
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
    color: $main-color;
    border-radius: 30px;
    cursor: pointer;
  }
  &__carrent-page {
    color: $main-color__active;
  }
}