@import '../../app/assets/styles/vars.scss';

.registrContainer {
  width: calc(300px + (364 - 288) * ((100vw - 320px) / (1920 - 320)));
  margin-top: calc(24px + (40 - 24) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(16px + (264 - 16) * ((100vw - 320px) / (1920 - 320)));
  margin-left: auto;
  margin-right: auto;

  border: 2px solid $main-color;
  border-radius: 20px;
  padding: 30px;
}