@import '../../assets/styles/vars.scss';

.registrContainer {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  width: 40%;
  border: 2px solid $main-color;
  border-radius: 20px;
  padding: 50px;
}