@import '../../assets/styles/vars';

.footer {
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-top: 2px solid black;

  & > .footerInfo {
    display: flex;
    align-items: center;
    gap: 20px;

    & > p {
      font-family: $text;
      font-size: $text-size;
      font-weight: 400;
      line-height: 150%;
    }
  }

  & > .connection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    & > .messengers {
      display: flex;
      align-items: flex-start;
      gap: 16px;
    }

    & > .phone {
      display: flex;
      align-items: center;
      gap: 8px;

      & > p {
        font-family: $text;
        font-size: $text-size;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
 
}

.dark-footer {
  background-color: $background-color-isDark;
  color: $text-color-isDark;
  transition: 0.3s;
  svg > path {
    fill: #fff;
  }
  a {
    color: #fff;
  }
}

@media (max-width: 1200px) {
  .footer {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .footer {
    width: 100%;
    height: 100%;
    & > .footerInfo {
      display: flex;
      flex-direction: column;
    }  
  }
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    height: 100%;
    padding: 20%;
    & > .footerInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }  
    & > .connection {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 400px) {
  .footer {
    width: 100%;
    height: 100%;
    padding: 20%;
    & > .footerInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }  
    & > .connection {
      display: flex;
      flex-direction: column;
    }
  }
}