@import '../../app/assets/styles/vars';

.footer-container {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid black;
  &__info {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    &__links {
      display: flex;
      align-items: center;
      gap: 20px;
      & > p {
        font-family: $text;
        font-size: $text-size;
        font-weight: 400;
        line-height: 150%;
      }
    }

    &__contacts {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      &__messengers {
        display: flex;
        align-items: flex-start;
        gap: 16px;
      }

      &__phone {
        display: flex;
        align-items: center;
        gap: 8px;

        & > p {
          font-family: $text;
          font-size: $text-size;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  } 
  & > .footer-container__name-company {
    align-items: center;
    font-family: $text;
    font-size: 12px;
  }
}

.footer-container_dark {
  background-color: $background-color-isDark;
  color: $text-color-isDark;
  transition: 0.3s;
  a {
    color: #fff;
  }

  svg > g > path {
    fill: #fff;
  }
}

@media (max-width: 1200px) {
  .footer-container {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .footer-container {
    width: 100%;
    height: 100%;
    &__info {
      &__links {
        display: flex;
        flex-direction: column;
      } 
    } 
  }
}

@media (max-width: 768px) {
  .footer-container {
    width: 100%;
    height: 100%;
    padding: 20%;
    &__info {
      &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }  
      &__contacts {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 400px) {
  .footer-container {
    width: 100%;
    height: 100%;
    padding: 20%;
    &__info {
      display: flex;
      flex-direction: column;
      &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }  
      &__contacts {
        display: flex;
        flex-direction: column;
      }
    }
  }
}