@import '../../assets/styles/vars';

.container {
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 135px;
  border-top: 1px solid black;

  & > .footerInfo {
    height: 44px;
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: center;

    & > p {
      font-family: Rubik;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  & > .connection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    & > .messengers {
      display: flex;
      align-items: flex-start;
      gap: 16px;
    }

    & > .phone {
      display: flex;
      align-items: center;
      gap: 8px;

      & > p {
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
 
}