@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Public+Sans:wght@400;600;700&display=swap');

//colors
$text-color: black;
$main-color: #70C05B;
$background-color: #FBF8EC;
$background-color-isDark: #444444;
$text-color-isDark: white;
$active-link-color: #D1E231;
$title-color: #1D1D1D;
$text-color-lite-grey: #2a2f377c;
$main-color__active: orangered;

//fonts
$title: 'Public Sans', sans-serif;
$text: 'Jost', sans-serif;

//vars
$title-size: calc(18px + (60 - 18) * ((100vw - 320px) / (1920 - 320)));
$text-size: calc(16px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));